<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetoothmessenger">

    <uses-feature
        android:name="android.hardware.bluetooth_le" android:required="true" />

    <!-- for bluetooth permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--SplashScreen Activity -->
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarFullScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignIn Activity -->
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarFullScreenStyle"
            android:windowSoftInputMode="adjustResize" />

        <!-- SearchDevice Activity -->
        <activity
            android:name=".activities.SearchDeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- MessageContent Activity -->
        <activity
            android:name=".activities.MessageContentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>
